@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using Microsoft.AspNetCore.Identity
@model Message
@{
    ViewData["Title"] = "Timeline";
    var messages = ViewData["Messages"] as IEnumerable<Message>;
    var thereIsNextPage = (bool) ViewData["ThereIsNextPage"];
    var thereIsPreviousPage = (bool) ViewData["ThereIsPreviousPage"];
    var newestDate = ViewData["NewestDate"] as DateTime?;
    var oldestDate = ViewData["OldestDate"] as DateTime?;
}

<h2>@ViewData["Title"]</h2>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        @await Html.PartialAsync("_Twitbox")
    }
    @await Html.PartialAsync("_Messages", messages)
        @if (thereIsPreviousPage)
        {
            <a asp-controller="Home" asp-action="My_Timeline" asp-route-dateOlderThan="@newestDate">Previous Page</a>
        }
        @if (thereIsNextPage)
        {
            <a asp-controller="Home" asp-action="My_Timeline" asp-route-dateNewerThan="@oldestDate">Next Page</a>
        }
</div>