@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using Microsoft.AspNetCore.Identity
@model Message
@{
    ViewData["Title"] = ViewData["ViewedUserName"] + "'s Timeline";
}

<h2>@ViewData["Title"]</h2>
<div>
    @await Html.PartialAsync("_Messages", ViewData["Messages"])
</div>