@model IEnumerable<Message>

<ul class="messages">
        @{
            var messages = Model;
        }
        @if (messages.Any())
        {
            @foreach (var msg in messages)
            {
                <li>
                    <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&s=48"/> <!--TODO remember to softcode-->
                    <strong>
                        <a asp-area="" asp-controller="Home" asp-action="User_Timeline" asp-route-id=@msg.Author.Id>@msg.Author.UserName</a>
                    </strong>
                        @msg.Text
                    <small>
                        &mdash; @msg.PubDate
                    </small>
                </li>
            }
        }
        else
        {
            <li>
                <em>There's no message so far.</em>
            </li>
        }

    </ul>